@model IEnumerable<Room>

@*

*@
@{
}

<link rel="stylesheet" href="../Views/Room/StyleSheet.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

<style>
  
    body {
        background-image: url('https://i.imgur.com/WBJINoA.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        
        font-family: cursive;
    }

    .text-with-shadow {
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
</style>
<section class="jumbotron text-center p-5 p-lg-0 m-0">
    <div class="container-fluid">
        <h1>Our Rooms</h1>
        <h2 class="jumbotron-heading">Quality in every detail</h2>
    </div>
</section>


<section class="container-fluid">
    <hr class="featurette-divider">

    @foreach (var item in Model)
    {
        <div class="row featurette">
            @if (item.Id % 2 == 0)
            {
                <div class="col-md-5 ps-4 order-md-1 order-2">
                    <img style="width: 500px; height: 500px;" class="img-fluid rounded" src="@item.Image" alt="">
                    <div class="d-flex justify-content-center mt-3">
                        <a asp-controller="room" asp-action="Detail" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary w-50" style="color: black;">
                            View
                        </a>
                        <button class="btn btn-sm btn-outline-secondary w-50" style="color: black;">BOOK</button>
                    </div>
                </div>
                <div class="col-md-2 order-md-2 order-1"></div>
                <div class="col-md-5 pe-4 order-md-3 order-3">
                    <h1>@item.Title</h1>
                    <p class="fs-4">@item.Description</p>
                </div>
            }
            else
            {
                <div class="col-md-5 ps-4 order-md-1 order-2">
                    <h1>@item.Title</h1>
                    <p class="fs-4">@item.Description</p>
                </div>
                <div class="col-md-2 order-md-2 order-1"></div>
                <div class="col-md-5 pe-4 order-md-3 order-3">
                    <img style="width: 500px; height: 500px;" class="img-fluid rounded" src="@item.Image" alt="">
                    <div class="d-flex justify-content-center mt-3">
                        <a asp-controller="room" asp-action="Detail" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary w-50" style="color: black;">
                            View
                        </a>
                        <button type="button" class="btn btn-sm btn-outline-secondary w-50" style="color: black;">Book</button>
                    </div>
                </div>
            }
        </div>

        <hr class="featurette-divider">
    }
</section>
<br />




 <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyJqFOtkArizmamo2+xskgy9eEkdI4HqD5" crossorigin="anonymous"></script>

